<h1>Анкета</h1>

<div *ngIf="currentQuestionIndex !== undefined">
  <div [ngSwitch]="questions[currentQuestionIndex].type" class="mb-2">
    <div *ngSwitchCase="'date'">
      <div class="mb-2">{{questions[currentQuestionIndex].text}}</div>
      <div class="alert alert-danger mb-2">Не реализовано</div>
    </div>

    <div *ngSwitchCase="'enumeration'">
      <div class="mb-2">{{questions[currentQuestionIndex].text}}</div>
      <div class="alert alert-danger mb-2">Не реализовано</div>
    </div>

    <div *ngSwitchCase="'integer'">
      <div class="mb-2">{{questions[currentQuestionIndex].text}}</div>
      <div class="alert alert-danger mb-2">Не реализовано</div>
    </div>

    <div *ngSwitchCase="'logical'">
      <div class="mb-2">{{questions[currentQuestionIndex].text}}</div>
      <div class="form-check">
        <input class="form-check-input mb-2" type="checkbox" [(ngModel)]="questions[currentQuestionIndex].answer" />
        <label class="form-check-label">&nbsp;</label>
      </div>
    </div>

    <div *ngSwitchCase="'text'">
      <div class="mb-2">{{questions[currentQuestionIndex].text}}</div>
      <input class="form-control mb-2" [(ngModel)]="questions[currentQuestionIndex].answer" />
    </div>
  </div>

  <button class="btn btn-secondary mr-2"
          [disabled]="currentQuestionIndex <= 0"
          (click)="onPreviousClick()">
    Назад
  </button>

  <button class="btn btn-primary mr-2"
          [disabled]="currentQuestionIndex >= questions.length - 1"
          (click)="onNextClick()">
    Далее
  </button>

  <button class="btn btn-success mr-2"
          [disabled]="!canSave()"
          (click)="onSaveClick()">
    Сохранить
  </button>
</div>
